{% extends "::base.html.twig" %}

{% block title %}AppBundle:Swetest:index{% endblock %}

{% block body %}
<h1>Welcome to the Swetest:index page</h1>
<table>
    {% for row in swetest.output %}
    <tr>
        <td>{{ row }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
